# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

/reports/

/

/active_date_check/
# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/

# ignore pdf folder that gets spun up
.Rd2pdf*

/data/*

/misc_reports/*

workflow_example/progress_report/*

workflow_example/*
Chicago_2021_only.csv
deer_elaf.csv
elaf_deer_dets.csv
elaf_wtd.csv
inin_detections_2018.csv
lrar_all_raw.csv
lrar_species_table.csv
NACA_all_data.csv
NACA_all_data_time.csv
naca_site.csv
raccoon_ids.csv
SLMO_2021_detection_summary.csv
ted_data.csv
workflow_example/.DS_Store
